<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hanium">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smaterhomge"
        android:label="Smarter Home"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/IntroTheme">
        </activity>
<!--        <activity android:name=".RegisterActivity" />-->
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".UserAreaActivity"
            />
        <activity android:name=".HomeList"></activity>
        <activity android:name=".EspListActivity"></activity>
        <activity android:name=".DeviceListActivity"></activity>
        <activity android:name=".DeviceChangeActivity"></activity>
<!--        <activity android:name=".ControlActivity"></activity>-->
<!--        <activity android:name=".HomeStatusActivity"></activity>-->
    </application>

</manifest>